
      body {
        font-family: 'DM Sans', sans-serif;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      .heading {
        font-family: 'Playfair Display', serif;
      }
      
   
